html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Asap', sans-serif;
   padding: 0;
   margin: 0;
}

div {
   box-sizing: border-box;
}

ul,
li {
   display: block;
}

.container {
   width: 1170px;
   margin: 0 auto;
}

/* HEADER SECTION */

header {
   background: url(../img/bgelement.png) no-repeat center top / cover;
}

nav {
   display: flex;
   justify-content: space-between;
}

.heading {
   padding-top: 31px;
}

.heading__logo {
   height: 80px;
   width: 82px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.heading__logo-img {
   width: 24px;
}

.heading__logo-text1 {
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   letter-spacing: .05em;
   margin-top: 9px;
   margin-bottom: 0;
}

.heading__logo-text2 {
   font-size: 4px;
   margin-top: 5px;
}

.heading__nav-items {
   display: flex;
   margin-top: 0;
   flex-direction: row;
}

.heading__nav-items a {
   font-weight: 500;
   color: #4d4d4d;
   margin-left: 35px;
   text-transform: uppercase;
   text-decoration: none;
   padding-bottom: 10px;
   border-bottom: 2px solid transparent;
   transition: border-bottom 0.15s linear;
}

.heading__nav-items a:hover {
   border-bottom: 2px solid #878787;
}

.heading__nav-menuBurger {
   display: none;
   width: 45px;
   height: 35px;
   position: relative;
   cursor: pointer;
}

.heading__nav-menu span {
   display: block;
   position: absolute;
   height: 2px;
   width: 70%;
   background: black;
   border-radius: 9px;
   opacity: 1;
   left: 0;
}

.heading__nav-menu span:nth-child(1) {
   top: 0px;
}

.heading__nav-menu span:nth-child(2),
.heading__nav-menu span:nth-child(3) {
   top: 13px;
}

.heading__nav-menu span:nth-child(4) {
   top: 26px;
}


.heading__title {
   display: flex;
   justify-content: space-between;
}

.heading__title h1 {
   color: #4d4d4d;
   font-size: 90px;
   margin: 0;
   padding: 0;
}

.heading__title p {
   color: #919191;
   font-size: 22px;
   font-weight: 500;
   margin-top: 0;
}

.heading__title-text {
   vertical-align: middle;
   padding-top: 160px;
}

.heading__title-buttons {
   display: flex;
}

.heading__title-button1 {
   display: block;
   color: #4d4d4d;
   background: #fff;
   font-size: 16px;
   width: 160px;
   text-align: center;
   text-decoration: none;
   padding: 15px 0;
   margin-right: 20px;
   font-weight: 600;
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1);
   transition: background 0.15s linear;
}

.heading__title-button1:hover {
   background: #bebebe;
}

.heading__title-button2 {
   display: block;
   color: #4d4d4d;
   font-size: 16px;
   width: 160px;
   text-align: center;
   text-decoration: none;
   padding: 14px 0;
   border: 1px solid #4d4d4d;
   font-weight: 600;
   background: transparent;
   transition: background .15s linear;
}

.heading__title-button2:hover {
   background: #ffffff
}

/* ABOUT SECTION */

.about {
   display: flex;
   align-items: center;
   padding-top: 108px;
   padding-bottom: 123px;
   justify-content: space-between;

}

.about__text h1 {
   font-size: 46px;
   font-weight: 600;
   letter-spacing: .1em;
   color: #717171;
   position: relative;
   margin-bottom: 0;
}

.about__text h1:before {
   position: absolute;
   left: 0;
   top: -15px;
   width: 60px;
   height: 4px;
   background: #717171;
   content: "";
}

.about__text p {
   font-size: 16px;
   color: #4d4d4d;
   width: 470px;
   margin-top: 0;
}

.about__text a {
   display: block;
   color: #4d4d4d;
   background: transparent;
   font-size: 16px;
   width: 245px;
   text-align: center;
   text-decoration: none;
   padding: 14px 0;
   border: 1px solid #4d4d4d;
   font-weight: 600;
   margin-top: 32px;
   transition: background 0.15s linear;
}

.about__text a:hover {
   background: #bebebe;
}

/* SERVICES SECTION */

.services__main {
   background-color: #f6f6f6;
   padding-top: 110px;
   padding-bottom: 70px;
}

.services h1 {
   font-size: 46px;
   font-weight: 600;
   letter-spacing: .1em;
   color: #717171;
   position: relative;
   margin-bottom: 0;
   text-transform: uppercase;
   text-align: center;
}

.services h1:before {
   position: absolute;
   left: 552px;
   top: -12px;
   width: 60px;
   height: 4px;
   background: #717171;
   content: ''
}

.services__item {
   width: 30%;
   height: 200px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 2%;
   background: transparent;
   transition: background .2s ease;
}

.services__item:hover {
   background: #e9e1e1;
}

.services__item p {
   color: #4d4d4d;
   font-size: 24px;
   font-weight: 600;
}

.services__item img {
   align-self: center;
}

.services__items {
   padding-top: 60px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

/* SKILLS SECTION */

.skills {
   padding-top: 110px;
   padding-bottom: 110px;
}

.skills__title {
   text-align: center;
   font-weight: 600;
   text-transform: uppercase;
   font-size: 46px;
   color: #717171;
   position: relative;
   letter-spacing: .1em;
}

.skills__title:before {
   position: absolute;
   left: 552px;
   top: -12px;
   width: 60px;
   height: 4px;
   background: #717171;
   content: "";
}

.skills__img {
   display: block;
   margin: 0 auto;
}

.portfolio {
   background-color: #f6f6f6;
   padding-top: 124px;
   padding-bottom: 120px;
}

.portfolio__items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.portfolio__items img {
   width: 30%;
   margin-bottom: 6%;
}

.main__title {
   font-size: 46px;
   font-weight: 600;
   letter-spacing: .1em;
   color: #717171;
   position: relative;
   margin-bottom: 43px;
   text-transform: uppercase;
   text-align: center;
}

.main__title:before {
   position: absolute;
   left: 543px;
   top: -12px;
   width: 60px;
   height: 4px;
   background: #717171;
   content: "";
}

.prtf__btn {
   margin: 0 auto;
}

/* TESTIMONIALS SECTION */

.main_testimonials {
   padding-top: 120px;
   padding-bottom: 121px;
}

.limara__title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 351px;
   border: 1px solid black;
}

.tst__limara {
   display: flex;
   align-items: center;
   width: 70%;
   transition: all 2s linear;
   margin: 0 auto;
   animation: limaraSlide 1s ease;
}

.tst__title {
   margin-left: 32px;
   display: flex;
   flex-direction: column;
   flex-basis: 100%;
}

.tst__title h2 {
   font-size: 30px;
   color: #373737;
   font-weight: 600;
   text-transform: uppercase;
   margin: 0;
}

.tst__title h3 {
   font-size: 12px;
   text-transform: uppercase;
   margin: 0;
}

.tst__title p {
   font-size: 16px;
   margin-top: 16px;
   color: #7a7a7a;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 25px;
   max-height: 100%;
   word-wrap: break-word;
}

.carousel {
   display: flex;
   margin-top: 33px;
   justify-content: center;
}

.carousel__pics {
   width: 15px;
   height: 15px;
   margin: 0px 2px;
   border: 1px solid black;
   cursor: pointer;

}

@keyframes limaraSlide {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.current {
   animation: limaraSlide 1s ease;
   background-color: black;
}

/* PICNUMBERS SECTION */

.picnumbers {
   background-color: #f6f6f6;
   padding-top: 50px;
   padding-bottom: 55px;
}

.picnumbers__content {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   flex-wrap: wrap;
}

.picnumbers__element {
   text-align: center;
   font-size: 22px;
   text-transform: uppercase;
   color: #4c4c4c;
   margin-bottom: 5%;
}

.picnumbers__element h3 {
   margin-bottom: 8px;
}

.picnumbers__element p {
   padding: 0;
   margin: 0;
   font-weight: 500;
}

/* FOOTER SECTION */

footer {
   background: url(../img/footer.png) no-repeat center top / cover;
   padding-top: 143px;
}

.footer_form {
   width: 768px;
   margin: 0 auto;
}

.name_email {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.feedback-input {
   font-size: 16px;
   letter-spacing: .02em;
   font-weight: 550;
   background-color: white;
   width: 370px;
   height: 57px;
   box-sizing: border-box;
   color: #4d4d4d;
   padding-left: 10px;
}

.footer_title {
   font-size: 46px;
   font-weight: 600;
   letter-spacing: .1em;
   color: #fff;
   position: relative;
   margin-bottom: 43px;
   text-transform: uppercase;
   text-align: center;
}

.footer_title:before {
   position: absolute;
   left: 920px;
   top: -12px;
   width: 60px;
   height: 4px;
   background: #fff;
   content: "";
}

.footer__textarea textarea {
   width: 100%;
   height: 207px;
   resize: vertical;
   margin-top: 2em;
   padding: 0;
   box-sizing: border-box;
   font-size: 16px;
   font-weight: 600;
   background-color: white;
   box-sizing: border-box;
   color: #4d4d4d;
   padding-top: 20px;
   padding-left: 10px;
}

.button-submit {
   display: block;
   text-align: center;
   font-size: 16px;
   text-transform: uppercase;
   width: 123px;
   padding: 15px 0;
   font-weight: 700;
   color: #4d4d4d;
   margin: 1.5em auto;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
}

.footer-2 {
   border-top: 1px solid white;
   margin-top: 58px;
   padding-top: 24px;
   padding-bottom: 30px;
   display: flex;
}

.footer_icons {
   display: flex;
}

.footer_icons a {
   text-decoration: none;
}

.fab {
   background: #fff;
   box-sizing: border-box;
   height: 27px;
   width: 27px;
   text-align: center;
   margin-right: 9px;
   padding-top: 5px;
   color: black;
}

.fab:hover {
   background: #0084b4;
   color: white;
}

.footer_rights {
   align-self: center;
   margin: 0px 0px 0px 260px;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   letter-spacing: .05em;
}


@media screen and (min-width:480px) and (max-width:800px) {
   h1:before {
      display: none;
   }

   .container {
      width: 500px;
   }

   .heading__nav-items.activeMenu {
      display: flex;
      flex-direction: column;
   }

   .heading__nav-menuBurger.activeBurger span {
      background: white;
   }

   .heading__nav-menuBurger.activeBurger span:nth-child(1) {
      opacity: 0;
   }

   .heading__nav-menuBurger.activeBurger span:nth-child(2) {
      transform: rotate(45deg);
      transition: .1s;
   }

   .heading__nav-menuBurger.activeBurger span:nth-child(3) {
      transform: rotate(-45deg);
      transition: .1s;
   }

   .heading__nav-menuBurger.activeBurger span:nth-child(4) {
      opacity: 0;
   }

   @keyframes identifier {}

   .heading__title img {
      display: none;
   }

   .heading__title-text {
      margin: 0px;
      padding-bottom: 30%;
   }

   .heading__nav-menuBurger {
      display: inline-block;
      z-index: 2;
      position: fixed;
   }

   .heading__nav-items {
      padding-top: 30%;
      height: 100%;
      text-align: center;
      position: fixed;
      display: none;
      top: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0);
      z-index: 1;
      overflow: hidden;
   }

   .heading__nav-items li {
      animation: navItems .9s ease;
   }

   @keyframes navItems {
      0% {
         transform: translateX(-500px);
      }

      70% {
         transform: translateX(20px);
      }

      100% {
         transform: translateX(0px);
      }
   }

   .heading__nav-items li a {
      border-style: none;
      font-size: 40px;
      color: white;
      line-height: 60px;
   }

   .heading__nav-items a:hover {
      border-style: none;
   }

   /* ABOUT SECTION */

   .about img {
      display: none;
   }

   /* SKILLS SECTION */

   .skills__img {
      width: 100%;
   }

   /* PORTFOLIO SECTION */

   /* TESTIMONIALS SECTION */

   .tst__limara {
      width: 100%;
      align-items: flex-start;
   }

   .tst__limara img {
      height: 50%;
      align-self: center;
   }

   /* FOOTER SECTION */

   .name_email {
      flex-direction: column;
      align-items: center;
   }

   .feedback-input {
      width: 70%;
      margin-bottom: 2%;
   }

   .footer_form {
      width: 100%;
   }

   .footer__textarea {
      width: 70%;
      margin: 0 auto;
   }

   .footer-2 {
      flex-direction: column;
      align-items: center;
   }

   .footer_rights {
      margin: 5% 0 0 0;
   }
}